body{
    background-image: url("https://media.istockphoto.com/vectors/earth-day-doodles-seamless-pattern-background-hand-drawn-of-earth-day-vector-id1278798607");
    background-position: center;
    background-size: cover;
}

h1{
    background-color:rgb(255, 255, 255);
    color:rgb(54, 0, 179);
    font-family: cursive;
    font-size: 44px;
    font-weight: bold;
    
}

#open_button{
    font-family: cursive;
    font-size: 22px;
    float:right;
    background-color:rgb(0, 225, 255);
    color:rgb(238, 255, 0);
}

p{
    font-size: 25px;
    padding-top: 10px;
    font-weight: bolder;
    background-color:rgb(0, 225, 255);
    color:rgb(238, 255, 0);
    width:25%;
}
canvas{
    border-radius: 5px;
    border-style: groove;
    border:5px green;
    animation-name:Glow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-top: 20px;
}
@keyframes Glow{
    from{box-shadow: 1px 1px 38px rgb(255, 255, 157);}
    to{box-shadow: 1px 1px 38px rgb(98, 98, 255);}
}
label{
    font-size: 25px;
    font-weight: bolder;
    background-color:rgb(0, 225, 255);
    color:rgb(238, 255, 0);
    width:25%;
}